.root {
  padding: var(--space-24) var(--space-24);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-24);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  min-width: 28px;
  padding: 0;

  background: none;
  border-radius: var(--radius-lg);
  cursor: pointer;

  svg path {
    stroke: var(--gray-500);
  }

  &:first-child svg {
    transform: rotate(180deg);
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.month {
  margin-bottom: var(--space-8);
}

.year {
  color: var(--gray-400);
  font-size: var(--text-xs);
}

.content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: var(--space-24);
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: var(--space-20);

  color: var(--gray-400);

  font-size: var(--text-xs);
  font-weight: 500;

  div {
    display: flex;
    justify-content: center;
  }
}

.day {
  display: flex;
  justify-content: center;

  color: var(--gray-500);
  font-size: var(--text-xs);
  font-weight: 500;

  cursor: pointer;

  time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;

    border-radius: var(--radius-xl);

    cursor: pointer;

    &:hover {
      background-color: var(--gray-200);
    }
  }

  &.today time {
    color: var(--base-white);

    background-color: var(--primary-500);
  }

  &.otherMonth {
    color: var(--gray-400);
  }
}
