.root {
  background-color: #fff;
  border-bottom: 1px solid var(--gray-200);
}

.nav {
  display: flex;
  align-items: center;
  gap: var(--space-16);
  height: 72px;
}

.navItem {
  padding: var(--space-8) var(--space-12);

  color: var(--gray-700);
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;

  &:hover {
    color: var(--gray-800);

    background-color: var(--gray-50);
    border-radius: var(--radius-sm);
  }
}
