:root {
  /* Colors */
  --base-white: #fff;
  --base-black: #000;
  --gray-25: #fcfcfd;
  --gray-50: #f9fafb;
  --gray-100: #f2f4f7;
  --gray-200: #eaecf0;
  --gray-300: #d0d5dd;
  --gray-400: #98a2b3;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-800: #182230;
  --gray-900: #101828;
  --gray-950: #0c111d;
  --primary-25: #f6fefc;
  --primary-50: #f0fdf9;
  --primary-100: #ccfbef;
  --primary-200: #99f6e0;
  --primary-300: #5fe9d0;
  --primary-400: #2ed3b7;
  --primary-500: #15b79e;
  --primary-600: #0e9384;
  --primary-700: #107569;
  --primary-800: #125d56;
  --primary-900: #134e48;
  --primary-950: #0a2926;

  /* Spacing */
  --space-2: 2px;
  --space-4: 4px;
  --space-6: 6px;
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;
  --space-20: 20px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-64: 64px;
  --space-80: 80px;
  --space-96: 96px;
  --space-128: 128px;
  --space-160: 160px;

  /* Container */
  --container-padding-mobile: var(--space-16);
  --container-padding-desktop: var(--space-32);
  --container-max-width-desktop: 1280px;

  /* Border radis */
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 10px;
  --radius-2xl: 16px;
  --radius-3xl: 20px;
  --radius-4xl: 24px;

  /* Typography */
  --title-xs: 20px;
  --title-sm: 24px;
  --title-md: 36px;
  --title-lg: 48px;
  --title-xl: 60px;
  --title-2xl: 72px;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 20px;

  /* Shadows */
  --shadow-xs: 0px 1px 2px 0px rgb(16 24 40 / 5%);
  --shadow-sm: 0px 1px 2px 0px rgb(16 24 40 / 6%), 0px 1px 3px 0px rgb(16 24 40 / 10%);
  --shadow-md: 0px 2px 4px -2px rgb(16 24 40 / 6%), 0px 4px 8px -2px rgb(16 24 40 / 10%);
  --shadow-lg: 0px 4px 6px -2px rgb(16 24 40 / 3%), 0px 12px 16px -4px rgb(16 24 40 / 8%);
  --shadow-xl: 0px 8px 8px -4px rgb(16 24 40 / 3%), 0px 20px 24px -4px rgb(16 24 40 / 8%);
  --shadow-2xl: 0px 24px 48px -12px rgb(16 24 40 / 18%);
  --shadow-3xl: 0px 32px 64px -12px rgb(16 24 40 / 14%);
}
